{% extends "base.html" %}
{% block content %}
<script>
    $(document).ready(function(){
        $(".sidebar-nav li a").eq(0).css({"color":"black","background":"white","border-radius":"10px","margin-left":"10px","margin-right":"10px"});
        $("b").text("Career");
        $("i").click(function(){
            $("body, html").animate({
                scrollTop: $(document).height()
            }, 800);
        });
    });
</script>
<form style="width:100%;" method="POST">
    <input type="hidden" name="id" value="{{ request.session.id }}"/>
    {% csrf_token %}
    <div class="carrer_0">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name0">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status0" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank0" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate0"> ~ <input type="date" class="form-control" name="c_edate0">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status0" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason0">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content0"></textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    <div class="career_1" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name1">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status1" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank1" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate1"> ~ <input type="date" class="form-control" name="c_edate1">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status1" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason1">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content1"></textarea>
        </div>
    </div>

    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
    &nbsp;
    <div class="career_2" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name2">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status2" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank2" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate2"> ~ <input type="date" class="form-control" name="c_edate2">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status2" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason2">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content2"></textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    <div class="career_3" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name3">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status3" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank3" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate3"> ~ <input type="date" class="form-control" name="c_edate3">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status3" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason3">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content3"></textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    <div class="career_4" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name4">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status4" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank4" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate4"> ~ <input type="date" class="form-control" name="c_edate4">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status4" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason4">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content4"></textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    <div class="career_5" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name5">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status5" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank5" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate5"> ~ <input type="date" class="form-control" name="c_edate5">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status5" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason5">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content5"></textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    <div class="career_6" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name6">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status6" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank6" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate6"> ~ <input type="date" class="form-control" name="c_edate6">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status6" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason6">
        </div>
    </div>
    <br>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content6"></textarea>
        </div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    <div class="career_7" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name7">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status7" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank7" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate7"> ~ <input type="date" class="form-control" name="c_edate7">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status7" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason7">
        </div>
    </div>
    <br>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content7"></textarea>
        </div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    <div class="career_8" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name8">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status8" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank8" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate8"> ~ <input type="date" class="form-control" name="c_edate8">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status8" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason8">
        </div>
    </div>
    <br>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content8"></textarea>
        </div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    <div class="career_9" style="display:none;">
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="회사명" name="c_name9">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status9" class="form-control">
            <option value="1">정규직</option>
            <option value="2">계약직</option>
            <option value="3">파견직</option>
            <option value="4">인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank9" class="form-control">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="form-control" name="c_sdate9"> ~ <input type="date" class="form-control" name="c_edate9">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status9" class="form-control">
            <option value="1">재직</option>
            <option value="2">퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="사직사유" name="c_quit_reason9">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="form-control"name="content9"></textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    <i class="fas fa-plus-circle career_add"></i>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-outline-dark" style="position:absolute;top:20px;float:right;right:-19px;">등록</button>
        </div>
    </div>

</form>
{% endblock %}