{% extends "base.html" %}
{% block content %}
    <script>
    $(document).ready(function(){
        $(".sidebar-nav li a").eq(0).css({"color":"black","background":"white","border-radius":"10px","margin-left":"10px","margin-right":"10px"});
        $("b").text("Career Update");
        $("i").click(function(){
            $("body, html").animate({
                scrollTop: $(document).height()
            }, 800);
        });
    });
</script>
<style>
    .c_name{
        width:90px;
    }
    .c_quit_reason{
        width:70px;
    }
    /*select, input, textarea{
        border-radius: .25rem;
        border: 0.5px solid;
        text-align: center;
        border-color:gray;
    }*/
    select, input, textarea {
        border-bottom-color: gray;
        border-right-style: none;
        border-left-style: none;
        border-bottom-style: solid;
        border-top-style: none;
    }
</style>

<form style="width:100%;" method="POST" action="/careerUpdate/">
    <input type="hidden" name="id" value="{{ request.session.id }}"/>
    {% csrf_token %}
    {% for data in list %}


    <div class="career_0">

    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{data.c_name0}}" name="c_name0">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status0" class="">
            <option value="1" {% if data.em_status0 ==  "1" %} selected="selected" {% endif %} >정규직</option>
            <option value="2" {% if data.em_status0 ==  "2" %} selected="selected" {% endif %} >계약직</option>
            <option value="3" {% if data.em_status0 ==  "3" %} selected="selected" {% endif %} >파견직</option>
            <option value="4" {% if data.em_status0 ==  "4" %} selected="selected" {% endif %} >인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank0" class="">
            <option value="1" {% if data.rank0 ==  "1" %} selected="selected" {% endif %} >사원</option>
            <option value="2" {% if data.rank0 ==  "2" %} selected="selected" {% endif %} >대리</option>
            <option value="3" {% if data.rank0 ==  "3" %} selected="selected" {% endif %} >과장</option>
            <option value="4" {% if data.rank0 ==  "4" %} selected="selected" {% endif %} >팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate0|date:'Y-m-d' }}" name="c_sdate0"> ~ <input type="date" class="" value="{{ data.c_edate0|date:'Y-m-d' }}" name="c_edate0">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status0" class="">
            <option value="1" {% if data.c_status0 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status0 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason0 | default_if_none:''}}" name="c_quit_reason0">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content0">{{ data.content0 | default_if_none:''}}</textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name1 == None %}
        <div class="career_1" style="display:none;">
    {% else %}
        <div class="career_1">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" placeholder="회사명" value="{{ data.c_name1 | default_if_none:'' }}" name="c_name1">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status1" class="">
            <option value="1" {% if data.em_status1 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status1 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status1 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status1 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank1" class="">
            <option value="1">사원</option>
            <option value="2">대리</option>
            <option value="3">과장</option>
            <option value="4">팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate1|date:'Y-m-d' }}" name="c_sdate1"> ~ <input type="date" class="" value="{{ data.c_edate1|date:'Y-m-d' }}" name="c_edate1">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status1" class="">
            <option value="1" {% if data.c_status1 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status1 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason1 | default_if_none:''}}" name="c_quit_reason1">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content1">{{ data.content1 | default_if_none:'' }}</textarea>
        </div>
    </div>

    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
    &nbsp;
    {% if data.c_name2 == None %}
        <div class="career_2" style="display:none;">
    {% else %}
        <div class="career_2">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{ data.c_name2 | default_if_none:'' }}" name="c_name2">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status2" class="">
            <option value="1" {% if data.em_status2 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status2 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status2 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status2 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank2" class="">
            <option value="1" {% if data.rank2 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank2 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank2 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank2 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate2|date:'Y-m-d' }}" name="c_sdate2"> ~ <input type="date" class="" value="{{ data.c_edate2|date:'Y-m-d' }}" name="c_edate2">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status2" class="">
            <option value="1" {% if data.c_status2 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status2 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason2 | default_if_none:'' }}" name="c_quit_reason2">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content2">{{ data.content2 | default_if_none:''}} </textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    {% if data.c_name3 == None %}
        <div class="career_3" style="display:none;">
    {% else %}
        <div class="career_3">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{ data.c_name3 | default_if_none:'' }}" name="c_name3">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status3" class="">
            <option value="1" {% if data.em_status3 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status3 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status3 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status3 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank3" class="">
            <option value="1" {% if data.rank3 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank3 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank3 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank3 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate3|date:'Y-m-d' }}" name="c_sdate3"> ~ <input type="date" class="" value="{{ data.c_edate3|date:'Y-m-d' }}" name="c_edate3">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status3" class="">
            <option value="1" {% if data.c_status3 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status3 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason3 | default_if_none:''}}" name="c_quit_reason3">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content3">{{ data.content3 | default_if_none:''}} </textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    {% if data.c_name4 == None %}
        <div class="career_4" style="display:none;">
    {% else %}
        <div class="career_4">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{ data.c_name4 | default_if_none:''}}" name="c_name4">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status4" class="">
            <option value="1" {% if data.em_status4 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status4 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status4 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status4 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank4" class="">
            <option value="1" {% if data.rank4 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank4 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank4 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank4 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate4|date:'Y-m-d' }}" name="c_sdate4"> ~ <input type="date" class="" value="{{ data.c_edate4|date:'Y-m-d' }}" name="c_edate4">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status4" class="">
            <option value="1" {% if data.c_status4 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status4 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason4 | default_if_none:''}}" name="c_quit_reason4">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content4">{{ data.content4 | default_if_none:''}}</textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    {% if data.c_name5 == None %}
        <div class="career_5" style="display:none;">
    {% else %}
        <div class="career_5">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{ data.c_name5 | default_if_none:''}}" name="c_name5">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status5" class="">
            <option value="1" {% if data.em_status5 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status5 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status5 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status5 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank5" class="">
            <option value="1" {% if data.rank5 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank5 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank5 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank5 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate5|date:'Y-m-d' }}" name="c_sdate5"> ~ <input type="date" class="" value="{{ data.c_edate5|date:'Y-m-d' }}" name="c_edate5">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status5" class="">
            <option value="1" {% if data.c_status5 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status5 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason5 | default_if_none:''}}" name="c_quit_reason5">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content5">{{ data.content5 | default_if_none:''}}</textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    {% if data.c_name6 == None %}
        <div class="career_6" style="display:none;">
    {% else %}
        <div class="career_6">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{ data.c_name6 | default_if_none:''}}" name="c_name6">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status6" class="">
            <option value="1" {% if data.em_status6 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status6 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status6 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status6 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank6" class="">
            <option value="1" {% if data.rank6 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank6 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank6 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank6 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate6|date:'Y-m-d' }}" name="c_sdate6"> ~ <input type="date" class="" value="{{ data.c_edate6|date:'Y-m-d' }}" name="c_edate6">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status6" class="">
            <option value="1" {% if data.c_status6 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status6 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason6 | default_if_none:''}}" name="c_quit_reason6">
        </div>
    </div>
    <br>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content6">{{ data.content6 | default_if_none:''}} </textarea>
        </div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    {% if data.c_name7 == None %}
        <div class="career_7" style="display:none;">
    {% else %}
        <div class="career_7">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{ data.c_name7 | default_if_none:''}}" name="c_name7">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status7" class="">
            <option value="1" {% if data.em_status7 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status7 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status7 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status7 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank7" class="">
            <option value="1" {% if data.rank7 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank7 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank7 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank7 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate7|date:'Y-m-d' }}" name="c_sdate7"> ~ <input type="date" class="" value="{{ data.c_edate7|date:'Y-m-d' }}" name="c_edate7">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status7" class="">
            <option value="1" {% if data.c_status7 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status7 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason7 | default_if_none:''}}" name="c_quit_reason7">
        </div>
    </div>
    <br>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content7">{{ data.content7 | default_if_none:''}} </textarea>
        </div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    {% if data.c_name8 == None %}
        <div class="career_9" style="display:none;">
    {% else %}
        <div class="career_9">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name"  value="{{ data.c_name8 | default_if_none:''}}" name="c_name8">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status8" class="">
            <option value="1" {% if data.em_status8 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status8 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status8 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status8 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank8" class="">
            <option value="1" {% if data.rank8 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank8 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank8 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank8 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate8|date:'Y-m-d' }}" name="c_sdate8"> ~ <input type="date" class="" value="{{ data.c_edate8|date:'Y-m-d' }}" name="c_edate8">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status8" class="">
            <option value="1" {% if data.c_status8 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status8 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason8 | default_if_none:''}}" name="c_quit_reason8">
        </div>
    </div>
    <br>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content8">{{ data.content8 | default_if_none:''}} </textarea>
        </div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
     &nbsp;
    {% if data.c_name9 == None %}
        <div class="career_9" style="display:none;">
    {% else %}
        <div class="career_9">
    {% endif %}
    <div class="row">
        <div class="col">
          회사명
        </div>
        <div class="col">
          <input type="text" class="c_name" value="{{ data.c_name9 | default_if_none:''}}" name="c_name9">
        </div>
        <div class="col">
          정규직 여부
        </div>
        <div class="col">
          <select name="em_status9" class="">
            <option value="1" {% if data.em_status9 ==  "1" %} selected="selected" {% endif %}>정규직</option>
            <option value="2" {% if data.em_status9 ==  "2" %} selected="selected" {% endif %}>계약직</option>
            <option value="3" {% if data.em_status9 ==  "3" %} selected="selected" {% endif %}>파견직</option>
            <option value="4" {% if data.em_status9 ==  "4" %} selected="selected" {% endif %}>인턴</option>
          </select>
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          직위
        </div>
        <div class="col">
          <select name="rank9" class="">
            <option value="1" {% if data.rank9 ==  "1" %} selected="selected" {% endif %}>사원</option>
            <option value="2" {% if data.rank9 ==  "2" %} selected="selected" {% endif %}>대리</option>
            <option value="3" {% if data.rank9 ==  "3" %} selected="selected" {% endif %}>과장</option>
            <option value="4" {% if data.rank9 ==  "4" %} selected="selected" {% endif %}>팀장</option>
          </select>
        </div>
        <div class="col">
          근무기간
        </div>
        <div class="col">
          <input type="date" class="" value="{{ data.c_sdate9|date:'Y-m-d' }}" name="c_sdate9"> ~ <input type="date" class="" value="{{ data.c_edate9|date:'Y-m-d' }}" name="c_edate9">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          재직상태
        </div>
        <div class="col">
          <select name="c_status9" class="">
            <option value="1" {% if data.c_status9 ==  "1" %} selected="selected" {% endif %}>재직</option>
            <option value="2" {% if data.c_status9 ==  "2" %} selected="selected" {% endif %}>퇴사</option>
          </select>
        </div>
        <div class="col">
          사직사유
        </div>
        <div class="col">
          <input type="text" class="c_quit_reason" value="{{ data.c_quit_reason9|default_if_none:''}}" name="c_quit_reason9">
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col">
          업무내용
        </div>
        <div class="col">
            <textarea rows="5" class="" name="content9">{{ data.content9|default_if_none:''}}"</textarea>
        </div>
    </div>
    <br>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    <i class="fas fa-plus-circle career_add"></i>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-outline-dark" style="position:absolute;top:20px;float:right;right:-19px;">수정</button>
        </div>
    </div>
    {% endfor %}
</form>
{% endblock %}