{% extends "base.html" %}
{% block content %}
    <script>
    $(document).ready(function(){
        $(".sidebar-nav li a").eq(0).css({"color":"black","background":"white","border-radius":"10px","margin-left":"10px","margin-right":"10px"});
        $("b").text("Career List");
    });
</script>
    {% for data in list %}

    {% if data.c_name0 == None %}
        <div class="list0" style="display:none;">
    {% else %}
        <div class="list0">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name0 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status0 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status0 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status0 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status0 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank0 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank0 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank0 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank0 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate0|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate0|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status0 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status0 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason0|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content0|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name1 == None %}
        <div class="list1" style="display:none;">
    {% else %}
        <div class="list1">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name1 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status1 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status1 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status1 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status1 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank1 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank1 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank1 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank1 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate1|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate1|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status1 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status1 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason1|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content1|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name2 == None %}
        <div class="list2" style="display:none;">
    {% else %}
        <div class="list2">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name2 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status2 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status2 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status2 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status2 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank2 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank2 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank2 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank2 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate2|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate2|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status2 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status2 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason2|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content2|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name3 == None %}
        <div class="list3" style="display:none;">
    {% else %}
        <div class="list3">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name3 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status3 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status3 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status3 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status3 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank3 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank3 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank3 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank3 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate3|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate3|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status3 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status3 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason3|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content3|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

     {% if data.c_name4 == None %}
        <div class="list4" style="display:none;">
    {% else %}
        <div class="list4">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name4 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status4 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status4 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status4 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status4 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank4 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank4 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank4 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank4 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate4|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate4|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status4 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status4 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason4|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content4|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name5 == None %}
        <div class="list5" style="display:none;">
    {% else %}
        <div class="list5">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name5 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status5 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status5 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status5 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status5 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank5 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank5 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank5 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank5 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate5|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate5|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status5 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status5 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason5|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content5|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name6 == None %}
        <div class="list6" style="display:none;">
    {% else %}
        <div class="list6">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name6 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status6 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status6 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status6 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status6 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank6 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank6 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank6 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank6 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate6|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate6|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status6 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status6 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason6|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content6|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name7 == None %}
        <div class="list7" style="display:none;">
    {% else %}
        <div class="list7">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name7 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status7 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status7 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status7 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status7 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank7 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank7 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank7 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank7 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate7|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate7|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status7 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status7 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason7|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content7|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name8 == None %}
        <div class="list8" style="display:none;">
    {% else %}
        <div class="list8">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name8 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status8 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status8 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status8 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status8 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank8 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank8 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank8 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank8 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate8|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate8|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status8 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status8 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason8|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content8|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    {% if data.c_name9 == None %}
        <div class="list9" style="display:none;">
    {% else %}
        <div class="list9">
    {% endif %}
        <div class="row career_list">
            <div class="col">회사명</div>
            <div class="col">{{ data.c_name9 }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">정규직여부</div>
            {% if data.em_status9 == "1" %}
                <div class="col">정규직</div>
            {% elif data.em_status9 == "2" %}
                <div class="col">계약직</div>
            {% elif data.em_status9 == "3" %}
                <div class="col">파견직</div>
            {% elif data.em_status9 == "4" %}
                <div class="col">인턴</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">직급</div>
            {% if data.rank9 == "1" %}
                <div class="col">사원</div>
            {% elif data.rank9 == "2" %}
                <div class="col">대리</div>
            {% elif data.rank9 == "3" %}
                <div class="col">과장</div>
            {% elif data.rank9 == "4" %}
                <div class="col">팀장</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">근무기간</div>
            <div class="col">{{ data.c_sdate9|date:'Y-m-d'|default_if_none:'' }} ~ {{ data.c_edate9|date:'Y-m-d'|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">재직상태</div>
            {% if data.c_status9 == "1" %}
                <div class="col">재직</div>
            {% elif data.c_status9 == "2" %}
                <div class="col">퇴사</div>
            {% endif %}
        </div>
        <br>
        <div class="row career_list">
            <div class="col">퇴직사유</div>
            <div class="col">{{ data.c_quit_reason9|default_if_none:'' }}</div>
        </div>
        <br>
        <div class="row career_list">
            <div class="col">업무내용</div>
            <div class="col">{{ data.content9|default_if_none:'' }}</div>
        </div>
        <br>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>

    <div class="row" style="position: relative;margin: 0 auto;right: 32px;">
        <div class="col">
            <a href="/careerUpdate?id={{ request.session.id }}"><button type="submit" class="btn btn-outline-dark" style="position:absolute;top:20px;float:right;right:-19px;">수정하기</button></a>
        </div>
    </div>
    {% endfor %}

{% endblock %}
