{% extends "base.html" %}
{% block content %}
    <script>
    $(document).ready(function(){
        $(".sidebar-nav li a").eq(2).css({"color":"black","background":"white","border-radius":"10px","margin-left":"10px","margin-right":"10px"});
        $("b").text("Education");

        $('body').click(function(e) {
            if(!$(e.target).hasClass("row")) {
                $(".append").css("display","none");
            }
        });
    });

    $(document).on('click','span',function(){
		var text = $(this).text();
		$(this).parent().prev().val(text);
	});

    function api(val){
         if($(".edu_category").eq(val).val() == "uni") {
             $.ajax({
                 type: "GET",
                 url: "http://www.career.go.kr/cnet/openapi/getOpenApi?apiKey=17b79a8290d02ee30e29aa50a8f4e4aa&svcType=api&svcCode=SCHOOL&contentType=json&gubun=univ_list&searchSchulNm="+ $('.name').eq(val).val(),
                 success: function (data) {
                     console.log(data);
                     console.log(data.dataSearch.content.length);

                     $("span").remove();
                     $(".append").css("display","none");
                     $(".append").eq(val).css("display","block");

                     for (var i = 0; i < data.dataSearch.content.length; i++) {
                         $(".append").eq(val).append("<span>"+data.dataSearch.content[i].schoolName+"("+data.dataSearch.content[i].campusName+")<br></span>");
                         console.log(data.dataSearch.content[i].schoolName);
                     }

                 }
             });
         }
    }

    function check(){
        if($(".name").val() == ""){
            alert("학교를 선택해주세요.");
            return false;
        }
    }
    </script>
    <style>
        input, select{
            border-bottom-color: gray;
            border-right-style: none;
            border-left-style: none;
            border-bottom-style: solid;
            border-top-style: none;
            width:130px;
        }
        .append{
            display:none;
            height: auto;
            width: 170px;
            z-index: 1;
            border: solid 0.3px gray;
            text-align: center;
            margin: 0 auto;
            background: white;
        }
    </style>
    <form style="width:100%;" method="POST" onsubmit="return check();">
    <input type="hidden" name="id" value="{{ request.session.id }}"/>
    {% csrf_token %}

    <div class="edu_0">
    <div class="row">
        <div class="col">
          <select name="edu_category" class="edu_category">
            <option value="uni">대학교</option>
            <option value="high">고등학교</option>
          </select>
        </div>
        <div class="col">
            <input type="text" name="name" placeholder="학교명" class="name" onclick="api( '0' );">
            <div class="append"></div>
        </div>
        <div class="col">
            <input type="text" name="sdate" class="sdate" placeholder="입학일" onfocus="(this.type='date')" onblur="(this.type='text')" >
        </div>
        <div class="col">
            <input type="text" name="edate" class="edate" placeholder="졸업일" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
        <div class="col">
           <select name="graduated_yn" class="graduated_yn">
            <option value="D">졸업여부</option>
            <option value="Y">졸업</option>
            <option value="N">재학중</option>
          </select>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
            <input type="text" name="subject" placeholder="학과" class="subject">
        </div>
        <div class="col">
          <input type="text" name="grades" placeholder="점수" class="grades">
        </div>
        <div class="col">
          <select name="high_category" class="high_category">
            <option value="0">해당사항 없음</option>
            <option value="1">인문계</option>
            <option value="2">실업계</option>
          </select>
        </div>
        <div class="col">
          <select name="uni_category" class="uni_category">
            <option value="0">해당사항 없음</option>
            <option value="2">2년제</option>
            <option value="3">3년제</option>
            <option value="4">4년제</option>
          </select>
        </div>
        <div class="col">
            <select name="location" class="location">
            <option value="seoul">서울</option>
            <option value="etc">지방</option>
          </select>
        </div>
    </div>
    </div>
    <br><br><br>
    <div class="edu_1" style="display:none;">
    <div class="row">
        <div class="col">
          <select name="edu_category" class="edu_category">
            <option value="uni">대학교</option>
            <option value="high">고등학교</option>
          </select>
        </div>
        <div class="col">
            <input type="text" name="name" placeholder="학교명" class="name" onclick="api( '1' );">
            <div class="append"></div>
        </div>
        <div class="col">
            <input type="text" name="sdate" class="sdate" placeholder="입학일" onfocus="(this.type='date')" onblur="(this.type='text')" >
        </div>
        <div class="col">
            <input type="text" name="edate" class="edate" placeholder="졸업일" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
        <div class="col">
           <select name="graduated_yn" class="graduated_yn">
            <option value="D">졸업여부</option>
            <option value="Y">졸업</option>
            <option value="N">재학중</option>
          </select>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
            <input type="text" name="subject" placeholder="학과" class="subject">
        </div>
        <div class="col">
          <input type="text" name="grades" placeholder="점수" class="grades">
        </div>
        <div class="col">
          <select name="high_category" class="high_category">
            <option value="0">해당사항 없음</option>
            <option value="1">인문계</option>
            <option value="2">실업계</option>
          </select>
        </div>
        <div class="col">
          <select name="uni_category" class="uni_category">
            <option value="0">해당사항 없음</option>
            <option value="2">2년제</option>
            <option value="3">3년제</option>
            <option value="4">4년제</option>
          </select>
        </div>
        <div class="col">
            <select name="location" class="location">
            <option value="seoul">서울</option>
            <option value="etc">지방</option>
          </select>
        </div>
    </div>
    </div>
    <br><br><br>

    <div class="edu_2" style="display:none;">
    <div class="row">
        <div class="col">
          <select name="edu_category" class="edu_category">
            <option value="uni">대학교</option>
            <option value="high">고등학교</option>
          </select>
        </div>
        <div class="col">
            <input type="text" name="name" placeholder="학교명" class="name" onclick="api( '2' );">
            <div class="append"></div>
        </div>
        <div class="col">
            <input type="text" name="sdate" class="sdate" placeholder="입학일" onfocus="(this.type='date')" onblur="(this.type='text')" >
        </div>
        <div class="col">
            <input type="text" name="edate" class="edate" placeholder="졸업일" onfocus="(this.type='date')" onblur="(this.type='text')">
        </div>
        <div class="col">
           <select name="graduated_yn" class="graduated_yn">
            <option value="D">졸업여부</option>
            <option value="Y">졸업</option>
            <option value="N">재학중</option>
          </select>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
            <input type="text" name="subject" placeholder="학과" class="subject">
        </div>
        <div class="col">
          <input type="text" name="grades" placeholder="점수" class="grades">
        </div>
        <div class="col">
          <select name="high_category" class="high_category">
            <option value="0">해당상항 없음</option>
            <option value="1">인문계</option>
            <option value="2">실업계</option>
          </select>
        </div>
        <div class="col">
          <select name="uni_category" class="uni_category">
            <option value="0">해당상항 없음</option>
            <option value="2">2년제</option>
            <option value="3">3년제</option>
            <option value="4">4년제</option>
          </select>
        </div>
        <div class="col">
            <select name="location" class="location">
            <option value="seoul">서울</option>
            <option value="etc">지방</option>
          </select>
        </div>
    </div>
    </div>

    <i class="fas fa-plus-circle edu_add"></i>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-outline-dark" style="position:absolute;top:20px;float:right;right:13px;">추가</button>
        </div>
    </div>
    </form>
{% endblock %}