{% extends "base.html" %}
{% block content %}
    <script>
    $(document).ready(function(){
        $(".sidebar-nav li a").eq(2).css({"color":"black","background":"white","border-radius":"10px","margin-left":"10px","margin-right":"10px"});
        $("b").text("Education");
        /*$("body, html").click(function(){
            $(".append").css("display","none");
        });*/
    });
    $(document).on('click','span',function(){
		var text = $(this).text();
		$(this).parent().prev().val(text);
	});

    $('body').click(function(e) {
        if(!$(e.target).hasClass("edu_list")) {
            $(".append").css("display","none");
        }
    });

    function api(val){
         if($(".edu_category").eq(val).val() == "uni") {
             $.ajax({
                 type: "GET",
                 url: "http://www.career.go.kr/cnet/openapi/getOpenApi?apiKey=17b79a8290d02ee30e29aa50a8f4e4aa&svcType=api&svcCode=SCHOOL&contentType=json&gubun=univ_list&searchSchulNm="+ $('.name').eq(val).val(),
                 success: function (data) {
                     console.log(data);
                     console.log(data.dataSearch.content.length);

                     //$(".name").eq(val).after("<div class='append'></div>");
                     $("span").remove();
                     $(".append").css("display","none");
                     $(".append").eq(val).css("display","block");

                     for (var i = 0; i < data.dataSearch.content.length; i++) {
                         $(".append").eq(val).append("<span>"+data.dataSearch.content[i].schoolName+"("+data.dataSearch.content[i].campusName+")<br></span>");
                         console.log(data.dataSearch.content[i].schoolName);
                     }

                 }
             });
         }
    }
    </script>

    <style>
        input, select{
            border-bottom-color: gray;
            border-right-style: none;
            border-left-style: none;
            border-bottom-style: solid;
            border-top-style: none;
            width:130px;
        }
        .append{
            display:none;
            height: auto;
            width: 170px;
            z-index: 1;
            border: solid 0.3px gray;
            text-align: center;
            margin: 0 auto;
            background: white;
        }
    </style>

    <form style="width:100%;" method="POST">
    {% csrf_token %}
    {% for data in list %}
     <input type="hidden" name="idx" value="{{ data.idx }}"/>
    <div class="row edu_list">
        <div class="col">학교</div>
        <div class="col">
            <select name="edu_category" class="edu_category">
                <option value="uni" {% if data.edu_category ==  "uni" %} selected="selected" {% endif %} >대학교</option>
                <option value="high" {% if data.edu_category ==  "high" %} selected="selected" {% endif %} >고등학교</option>
            </select>
        </div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">학교명</div>
        <div class="col">
            <input type="text" name="name" class="name" value="{{ data.name |default_if_none:'' }}" onclick="api( '{{ forloop.counter0 }} ' );">
            <div class="append"></div>
        </div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">소재지</div>
            <div class="col">
                <select name="location" class="location">
                    <option value="seoul" {% if data.location ==  "seoul" %} selected="selected" {% endif %} >서울</option>
                    <option value="etc" {% if data.location ==  "etc" %} selected="selected" {% endif %} >지방</option>
                </select>
            </div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">입학일</div>
        <div class="col"><input type="date" name="sdate" class="sdate" value="{{ data.sdate |date:'Y-m-d'|default_if_none:'' }}"></div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">졸업일</div>
        <div class="col"><input type="date" name="edate" class="edate" value="{{ data.edate |date:'Y-m-d'|default_if_none:'' }}"></div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">졸업여부</div>
        <div class="col">
            <select name="graduated_yn" class="graduated_yn">
                <option value="Y" {% if data.graduated_yn ==  "Y" %} selected="selected" {% endif %} >졸업</option>
                <option value="N" {% if data.graduated_yn ==  "N" %} selected="selected" {% endif %} >재학중</option>
            </select>
        </div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">학과</div>
        <div class="col"><input type="text" name="subject" class="subject" value="{{ data.subject |default_if_none:'' }}"></div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">고등학교 구분</div>
        <div class="col">
            <select name="high_category" class="high_category">
                <option value="0" {% if data.high_category ==  "0" %} selected="selected" {% endif %} >해당사항 없음</option>
                <option value="1" {% if data.high_category ==  "1" %} selected="selected" {% endif %} >인문계</option>
                <option value="2" {% if data.high_category ==  "2" %} selected="selected" {% endif %} >실업계</option>
            </select>
        </div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">학점</div>
        <div class="col"><input type="text" name="grades" class="grades" value="{{ data.grades |default_if_none:'' }}"></div>
    </div>
    <br>

    <div class="row edu_list">
        <div class="col">학년제</div>
        <div class="col">
            <select name="uni_category" class="uni_category">
                <option value="0" {% if data.uni_category ==  "0" %} selected="selected" {% endif %} >해당사항 없음</option>
                <option value="2" {% if data.uni_category ==  "2" %} selected="selected" {% endif %} >2년제</option>
                <option value="3" {% if data.uni_category ==  "3" %} selected="selected" {% endif %} >3년제</option>
                <option value="4" {% if data.uni_category ==  "4" %} selected="selected" {% endif %} >4년제</option>
            </select>
        </div>
    </div>
    <hr style="height:1px;border:none;color:#333;background-color:#333;" />

    {% endfor %}

    <div class="row" style="position: relative;margin: 0 auto;right: 32px;">
        <div class="col">
            <button type="submit" class="btn btn-outline-dark" style="position:absolute;top:20px;float:right;right:-19px;">수정하기</button>
        </div>
    </div>
    </form>
{% endblock %}