{% extends "base.html" %}
{% block content %}
<div class="row">
    {% if request.session.id %}
        {{ request.session.nickname }} 님 환영합니다.
    {% else %}
        <div class="col-md-6 offset-md-4">
            <div>
                <a href="https://kauth.kakao.com/oauth/authorize?client_id=448844327114515aa2e08f9cbf79a49a&redirect_uri=http://49.174.123.151:8000/&response_type=code">
                    <img src="//mud-kage.kakao.com/14/dn/btqbjxsO6vP/KPiGpdnsubSq3a0PHEGUK1/o.jpg" width="300"/>
                </a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

