{% extends "base.html" %}
{% block content %}
<script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <script>
    $(document).ready(function(){
        $(".sidebar-nav li a").eq(1).css({"color":"black","background":"white","border-radius":"10px","margin-left":"10px","margin-right":"10px"});
        $("b").text("Note");

      $("#type").change(function(){
        var type = $(this).val();
        $("#type").val(type);

        for(var i = 0 ;i <11; i++){
          if($("#type option").eq(i).val() == month){
            $("#type option").eq(i).attr("selected",true);
            $("#type option").not(':eq('+i+')').attr("selected",false);
          }
        }
        });

    });

    function check(){
        if($("input[name=title]").val() == ""){
            alert('제목을 입력해주세요.');
            return false;
        }
    }
</script>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>A Simple Page with CKEditor</title>
        <!-- Make sure the path to CKEditor is correct. -->
    </head>
    <body>
        <form method="post" onsubmit="return check();">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ request.session.id }}"/>
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" placeholder="제목" name="title">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                  <select name="type" id="type" class="form-control">
                    <option value="etc">타입(기타)</option>
                    <option value="java">타입(Java)</option>
                    <option value="python">타입(Python)</option>
                    <option value="php">타입(php)</option>
                    <option value="c">타입(c)</option>
                    <option value="javascript">타입(Javascript)</option>
                    <option value="nodejs">타입(nodeJs)</option>
                    <option value="reactjs">타입(reactJs)</option>
                    <option value="server">타입(serever)</option>
                    <option value="android">타입(android)</option>
                    <option value="db">타입(db)</option>
                  </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                <textarea name="content" id="content" rows="10" cols="80">

                </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-dark" style="position:absolute;top:20px;float:right;right:13px;">등록</button>
                </div>
            </div>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'content' );
            </script>
        </form>
    </body>
</html>
{% endblock %}
